* text=auto eol=lf

*.go text eol=lf
*.svelte text eol=lf
*.ts text eol=lf
*.js text eol=lf
*.css text eol=lf
*.json text eol=lf
*.md text eol=lf
*.yml text eol=lf
*.yaml text eol=lf

*.png binary
*.jpg binary
*.jpeg binary
*.webp binary
*.ico binary
*.wasm binary
*.woff binary
*.woff2 binary
*.gz binary
*.br binary
